.home {
  max-width: 100%;
  margin: auto;
  padding-bottom : 100px;
  height:auto;
   &_search {
    width: 1130px;
    margin: auto;
    padding: 0 15px;
  }
}
.outlet {
  width: 100%;
  height: 100%;
}
