@import "../../_app.scss";
.search {
  margin-top: 16px;
  height: 55px;
  padding: 10px;
  background-color: $lightblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  &_item {
    width: 20%;
  }
  &_input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
  }
  &_wrapper {
    flex: 1;
  }
}
