@import "../../../_app.scss";
.homepage {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
  &_title {
    font-size: 30px;
    font-weight: bold;
    margin: 12px 0;
  }
  &_des {
    font-size: 14px;
    color: $gray;
  }
  &_province {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  &_content {
    margin-top: 32px;
    display: flex;
    gap: 16px;
  }
  &_post {
    flex : 3;
  }
  &_navright {

    flex: 1.5;
  }
}
